@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Figtree", sans-serif;
    line-height: normal;
    user-select: none;
  }

  body {
    @apply bg-black text-white bg-cover bg-center;
    font-size: 18px;
    background-image: url("public/background.svg");
  }

  h1 {
    @apply text-5xl font-bold;
  }

  h2 {
    @apply text-4xl font-bold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-semibold;
  }

  h5 {
    @apply text-xl font-medium;
  }

  h6 {
    @apply text-lg font-medium;
  }

  input[type="range"] {
    --c: #14b8a6; /* active color */
    --g: 5px; /* the gap */
    --l: 5px; /* line thickness*/
    --s: 20px; /* thumb size*/

    height: var(--s); /* needed for Firefox*/
    --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    cursor: pointer;
    overflow: hidden;
  }

  input[type="range"]:active {
    --p: 50%;
    --_b: var(--s);
  }

  /* chromium */
  input[type="range" i]::-webkit-slider-thumb {
    height: var(--s);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
    border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 /
      calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
    -webkit-appearance: none;
    appearance: none;
    transition: 0.3s;
  }

  body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    gap: 40px;
    place-content: center;
    background: repeating-linear-gradient(-45deg, #fff 0 20px, #f9f9f9 0 40px);
  }

  button,
  a {
    @apply opacity-80 hover:opacity-100;
  }
}

@layer components {
  .gradient-bg {
    @apply bg-gradient-to-br from-[#ffffff08] to-[#ffffff13];
  }
}
